.game-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  .topic {
  
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .game-topic-container {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 5px solid #ff6c11;
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }
    img {
      width: 80px;
    }

  }
  
  .game-question {
    flex: 4;
    h2 {
      text-align: center;
      color: #ff6c11;
      text-align: center;
      font-size: 40px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      margin: 0 40px;
    }
  } 

  .game-exit {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100px;
    }
  }
  
}
.times-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .egg-timer {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    margin-left: 30px;
    color: white;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    background-color: #ff6c11;
    border-radius: 50%;
  }
  .spacer {
    width: 150px;
  }

}



.answers {
 
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .class-0 {
    background-color: #7ED957;
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;
  }
  .class-1 {
    background-color: #FFBD5A;
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;
  
  }
  .class-2 {
    background-color: #39B6FF;
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;
  }
  .class-3 {
    background-color: #FF5757;
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;
  }
  button {
    background-color: #ffffff00;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    outline: none;
    font-size: 25px;
    width: 100%;
    height: 100%;
    cursor: pointer;
   
  }
  .disabled {
    background-color: #c0c0c080;
  }

  
}
h2 {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #ff6c11;
  margin-bottom: 0;
  margin-left: 40px;
}
.scores-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  .scores {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    
  
    .image {
      border-radius: 50%;
      border: 5px solid #ff6c11;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 80px;
        
      }
    }
    
    p {
      text-align: center;
      font-size: 30px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      color: #ff6c11;
      margin: 0;
    }
  }

  

    

}

.end-scores {
 
  .game-exit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
    cursor: pointer;
    img {
      width: 100px;
    }
    
  }
  .winner-header {
    width:100%;
    text-align: center;

    h2 {
      text-align: center;
      color: #ff6c11;
      text-align: center;
     
      font-size: 50px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      margin: 0 40px;
    }
    
  }
  .fireworks {
  
    position: absolute;
    width: 100%;

   

    img {
      width: 200px;
      margin: 0 50px;
      
      
    }
  }
  .podium {
    transform: translateY(30px);
    .podium-avatars {
      
      display: flex;
      justify-content: center;
      img {
        width: 150px;
    
      }
      h2 {
        text-align: center;
        margin: 0;
      }
      .first {
        transform: translateY(50px);
        
        
      }
      .second {
        transform: translateY(140px) translateX(20px);
        .tears {
        
          img {
            width: 30px;
            margin: 0 10px;
            position: absolute;
            bottom: 20px;
            &.tear-1 {
              right: 0%;
            }
            &.tear-2 {
              right: 20%;
            }
            &.tear-3 {
              right: 45%;
            }
            &.tear-4 {
              right: 70%;
            }
          }
        }
      }
      .third {
        transform: translateY(190px) translateX(-20px);
        .tears {
        
          img {
            width: 30px;
            margin: 0 10px;
            position: absolute;
            bottom: 20px;
            &.tear-1 {
              right: 0%;
            }
            &.tear-2 {
              right: 20%;
            }
            &.tear-3 {
              right: 45%;
            }
            &.tear-4 {
              right: 70%;
            }
          }
        }
      }
    }
    .stand {
      
      display: flex;
      justify-content: center;
      img {
        height: 400px;
      }
    }
    
  }

}

